$black: #1a202c;
$white: #feffff;
$purple: #bbb9da;
$green: #acd0cd;
$darkgreen2: #086a41;
$darkgreen: #37474f;
$blue: #81b2ca;
$pink: #dda1be;
$orange: #fc8872;
$lightgrey: #ebebeb;
$grey: #f3f3f3;
$lightengrey: #acacac;
$darkgrey: #1a202c;
$greenishgrey: #5f676a;
$yellow: #ffc727;
$yellowfade: #fdda89;
$darkengay: #818181;

$bg-gray: #f4f6f6;
$bg-green: #deebe8;
$bg-black: #242424;

$vividgreen: #53d258;
$vividred: #e25c5c;

$lightblack: #4f4f4f;

$greyborder: #e6e6e6;
